/* Navbar image's custom css */
.border-rounded{
    border-radius: 100px;
}
.cm-bg-nav-img{
    background-color: blueviolet;
    
}
.cm-bg-nav-l{
    color: rgb(255, 179, 16);
    text-shadow: 2px 2px 2px #968eaa;
}
.cm-bg-info-font{
    color: rgb(111, 0, 255);
    text-shadow: 2px 2px 3px #ebd7f5;
}

/* home page */
.margin-top{
    margin-top: 10rem;
}
/* icon font sizE */
.cm-fa-icon{
font-size: 22px;
}

.cm-bg-about{
    background-color: #ffffff;
}
.cm-about-img{
    margin: 20px 0;
    border-radius: 1rem;
    
}